.student-container{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    /* background-color: #08FF89; */
}
.student-title{
    font-weight: 500;
    font-size: 35px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}
.card-box{
    display: flex;
   flex-wrap: wrap;
  align-items: center;
  
   /* background-color: rgb(79, 96, 182); */
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 50px;
   
}
/* .cards-images{
    padding-top: 60px;
    font-weight: 500;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
} */
@media  (min-width: 776px) and (max-width: 840px){
    .student-container{
        padding-top: 50px;
    }
    .student-title{
        font-weight: 500;
        font-size: 25px;
    }
    .card-box{
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
}
@media  (min-width: 426px) and (max-width: 775px){
    .student-container{
        padding-top: 40px;
    }
    .student-title{
       
        font-size: 20px;
    }
    .card-box{
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
}
@media  (min-width: 0px) and (max-width: 425px){
    .student-container{
        padding-top: 30px;
    }
    .student-title{
       font-size: 15px;
    }
    .card-box{
        padding-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}