.card-two{
    width: 500px;
    height: 380px;
    border: 2px solid #3907FF;
    margin-top: 59px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.circle2{
    width: 115px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border-bottom: 2px solid #3907FF;
    position: absolute;
    top: -16%;
    left: 39%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;

}
.card-heading-part{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}
.ranking{
    font-weight: 600;
    font-size: 30px;
   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;

}
.desc{
    font-weight: 600;
    font-size: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #020202;
}
.cardData-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   justify-content: flex-start;
  
    /* background-color: rgb(127, 199, 69); */
   
}
@media  (min-width: 776px) and (max-width: 840px){
    .card-two{
        width: 360px;
        height: 250px; 
    }
    .circle2{
        width: 90px;
        height: 80px;
         top: -16%;
        left: 37%;
    }
    .circle2>img{
        width: 37px;
        height: 37px;
    }
    .ranking{
        font-size: 20px;
    }
    .desc{
        font-size: 14px;
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media  (min-width: 426px) and (max-width: 775px){
    .card-two{
        width: 200px;
        height: 220px; 
    }
    .circle2{
        width: 50px;
        height: 50px;
        top: -11%;
        left: 39%;
    }
    .circle2>img{
        width: 25px;
        height: 25px;
    }
    .ranking{
        font-size: 14px;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .desc{
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media  (min-width: 0px) and (max-width: 425px){
    .card-two{
        width: 330px;
        height: 280px; 
    }
    .circle2{
        width: 90px;
        height: 80px;
         top: -16%;
        left: 35%;
    }
    .circle2>img{
        width: 37px;
        height: 37px;
    }
    .ranking{
        font-size: 20px;
       
    }
    .desc{
        font-size: 14px;
        padding-left: 35px;
        padding-right: 35px;
    }
    
}