.card{
    width: 500px;
    height: 240px;
    border: 2px solid  #3907FF;
    border-radius: 20px;
    position: relative;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding-left: 30px;
    padding-right: 30px; */
}
.circle{
    width: 125px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    border-bottom: 2px solid blue;
    position: absolute;
    left: 38%;
    bottom: 76%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.circle>img{
   padding-bottom: 10px;
   font-weight: 500;
   width:53px;
    height:53px;
    /* background-color: blue; */
}
.card-heading{
   padding-top: 40px;
   font-weight: 600;
   font-size: 27px;
}
.card-desc{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #020202;
  padding-left: 40px;
  padding-right: 40px;
}
.card-button{
color: #1CF908;
font-weight: 600;
font-size: 18px;
}
@media  (min-width: 776px) and (max-width: 840px){
    .card{
        width: 280px;
        height: 170px;
       
    }
    .circle{
        width: 70px;
        height: 70px;
        left: 35%;
        bottom: 80%;
    }
    .circle>img{
        width: 45px;
        height: 45px;
    }
    .card-heading{
        font-size: 20px;
    }
    .card-desc{
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-button{
        font-size: 13px;
    }
}
@media  (min-width: 426px) and (max-width: 775px){
    .card{
        width: 200px;
        height: 180px;
        margin-bottom: 50px;
    }
    .circle{
        width: 50px;
        height: 50px;
        bottom: 85%;
        left: 35%;
    }
    .circle>img{
        width: 30px;
        height: 30px;
    }
    .card-heading{
        font-size: 15px;
    }
    .card-desc{
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .card-button{
        font-size: 10px;
    }

}
@media  (min-width: 0px) and (max-width: 425px){
    .card{
        width: 300px;
        height: 200px;
        margin-bottom: 50px;
    }
    .circle{
        width: 90px;
        height: 90px;
        bottom: 80%;
        left: 33%;
    }
    .circle>img{
        width: 45px;
        height: 45px;
    }
    .card-heading{
        font-size: 25px;
    }
    .card-desc{
        font-size: 16px;
    }
    .card-button{
        font-size: 15px;
    }
}